<%= form_for @pin, html: { multipart: true } do |f| %>

  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel-body">
     <div class="form-group">
    <%= f.label :category %>
    <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </div>  
  <div class="form-group image">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group video">
    <%= f.label :video_url%>
    <%= f.text_field :video_url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  
  

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
</div>
<% end %>

<script>
$(document).ready(function() {

  var onchange = function() {

  
  var value = $("select#pin_category_id").find(':selected').text().toLowerCase()
  console.log(value);


    if(value == 'video') {

      $('.form-group.video').show();
      $('.form-group.image').hide();


    } else {

      $('.form-group.video').hide();
      $('.form-group.image').show();
    }
 
}
onchange();

$( "select#pin_category_id").change(onchange);

});
  
 </script>