<%= render 'pages/home' unless user_signed_in? %>

<div class= "btn-group btn-group-lg" role="group">
  <button class="btn-lg-round button" data-filter="">All</button>
  <% @categories.each do |categorie| %>
    <button class="btn-lg-round button" data-filter="<%= categorie.try(:name).try(:downcase) %>"><%= categorie.name %></button>
  <% end %>
</div>

<div id="pins" class="transitions-enabled">
    <% @pins.each do |pin| %>
      <div class="box panel default" data-filter="<%= pin.category.try(:name).try(:downcase) %>">
          <div class="pinimage"><%= link_to image_tag("#{pin.category.image}.png") %></div> 
        
        
        <% if pin.category.name == "Video" %>
             <iframe src="http://player.vimeo.com/video/<%=vimeo_id(pin.video_url)%>" width="200"   
              height="200" frameborder="0">  
            </iframe>
          <% else %>
            <%= link_to pin_path(pin) do %>
            <%= image_tag pin.image.url, width: '450' %>
          <% end %>
          <% end %>


      
                
          <div class="panel-body">
          <p><%= truncate pin.description, length: 150 %></p>
          <p><strong><%= pin.user.name if pin.user %></strong></p>

            <% if pin.user == current_user %>
            <div class="actions">
            <%= link_to edit_pin_path(pin) do %>
                <span class="glyphicon glyphicon-edit"></span>
                Edit
            <% end %>
            <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
            </div>
         <% end %>
       </div>
      </div>
  <% end %>
</div>

<div class="center">
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>


