<%= render 'pages/home' unless user_signed_in? %>

<div class= "pin-bar">
  <span class="btn btn-link">Filter: </span>
  <button class="btn btn-link button" data-filter="">All</button>
  <% @categories.each do |categorie| %>
    <button class="btn btn-link button <%= categorie.image %>" data-filter="<%= categorie.try(:name).try(:downcase) %>"><%= categorie.name %></button>
  <% end %>
</div>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <%= render "pin", pin: pin %>
  <% end %>

  <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>    
</div>
