<%= link_to 'Back', pins_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-7">
    <div class="box-view">
      <div class="panel-heading center">
        <div class="img-responsive">
          <div class="center">
            <% if @pin.category.present? %>
              <div class="pinimage"><%= link_to image_tag("#{@pin.category.image}.png") %></div>
            <% else %>
              <%= link_to image_tag("epingle.png"), width: '100' %> 
            <% end %>
          </div>
         
          <% if @pin.category.name == "Video" %>
            <iframe class="view" src="http://player.vimeo.com/video/<%=vimeo_id(@pin.video_url)%>" width="100%"   
              height="500" frameborder="0" webkitallowfullscreen 
              mozallowfullscreen allowfullscreen>  
            </iframe>
          <% else %>
           <div class="pinviewimage">
            <%= image_tag @pin.image.url %>
            </div>
          <% end %>
            
        </div>
      </div>
      <div class="panel-body">
        <h6><%= @pin.description %></h6>
        <p><strong><%= link_to @pin.user.name, member_path(@pin.user) if @pin.user %></strong></p>           
        <% if @pin.user == current_user %>
          <div class="actions">
            <%= link_to edit_pin_path(@pin) do%> 
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to @pin, method: :delete, data: { confirm: 'Are you sure ?'} do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



